.vscode/
**/.envrc
**/scan-with-trivy
**/test*
**/config-dont-upload.yaml
**/amazon-sagemaker-codeserver/
.aws/credentials
MyKeyPair.pem
.virtual_documents/
.ipynb_checkpoints
**/tmp
bin/
notebooks/output/

# Ejercicio 2
cfn/02-create-ec2-instance.yaml
scripts/04-create-ec2-instance.sh

# Ejercicio 3
notebooks/05-content-moderation-video.ipynb

# Ejercicio 4
cfn/04-create-sagemaker-notebook-classic-with-customization.yaml
