.vscode/
**/.envrc
**/scan-with-trivy
**/test*
**/config-dont-upload.yaml
**/amazon-sagemaker-codeserver/
.aws/credentials
MyKeyPair.pem
.virtual_documents/
.ipynb_checkpoints
**/tmp
bin/
notebooks/output/
cfn/06-create-codebuild.yaml
cfn/07-create-sagemaker-custom.yaml
cfn/ecr-and-codebuild/
docker/Dockerfile
docker/requirements.txt
scripts/10-cfn-stack-ecr-and-codebuild.sh
scripts/11-cfn-stack-sagemaker-custom.sh
notebooks/data/
notebooks/model/
notebooks/preprocessing.py
notebooks/batch-score.py
notebooks/model_def.py
notebooks/score-report.txt
notebooks/train.py


# Ejercicio 3
notebooks/05-content-moderation-video.ipynb

# Ejercicio 4
cfn/04-create-sagemaker-notebook-classic-with-customization.yaml
