.vscode/
**/.envrc
**/scan-with-trivy
**/test*
**/config-dont-upload.yaml
**/amazon-sagemaker-codeserver/
.aws/credentials
MyKeyPair.pem
.virtual_documents/
.ipynb_checkpoints

# Ejercicio 2
cfn/02-create-ec2-instance.yaml
scripts/04-create-ec2-instance.sh
