name: AWS cleanup

on:
  schedule:
    - cron: "0 23 * * *"
  workflow_dispatch: {}

jobs:
  cleanup:
    name: Cleanup AWS resources
    environment: "Integration tests"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup aws-nuke
        run: |
          wget -q https://github.com/rebuy-de/aws-nuke/releases/download/v2.20.0/aws-nuke-v2.20.0-linux-amd64.tar.gz
          tar -xvf aws-nuke-v2.20.0-linux-amd64.tar.gz
          mv aws-nuke-v2.20.0-linux-amd64 aws-nuke
          chmod +x aws-nuke

      - name: Run AWS nuke
        run: |
          ls -la
          sed -i -e "s/AWS_ACCOUNT_ID_REPLACE_ME/${AWS_ACCOUNT_ID}/" nuke/config.yaml
          sed -i -e "s/AWS_IAM_USER_REPLACE_ME/${AWS_IAM_USER}/" nuke/config.yaml
          sed -i -e "s/AWS_ACCESS_KEY_ID/${AWS_ACCESS_KEY_ID}/" nuke/config.yaml
          ./aws-nuke --config nuke/config.yaml \
            --access-key-id "${{ secrets.AWS_ACCESS_KEY_ID }}" \
            --secret-access-key "${{ secrets.AWS_SECRET_ACCESS_KEY }}" \
            --quiet \
            --force \
            --no-dry-run
